body {
    background-color: #efefef;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #1f172d;
    color: white;
    width: 100px;
    height: 100vh;
    transition: width 0.3s;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    /* Added padding to user profile */
    padding-top: 80px;
}

.sidebar.expanded {
    width: 200px;
}

.user-profile {
    text-align: center;;
    /* Adds spacing below the user profile */
    padding-bottom: 100px;
}

.profile-icon {
    padding-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar.expanded .profile-icon {
    padding: 0;
    width: 100px;
    height: 100px;
}

.user-name {
    color: white;
    margin-top: 5px;
    font-size: 14px;
    display: none;
}

.sidebar.expanded .user-name {
    display: block;
}

.nav-links {
    list-style: none;
    padding: 0;
    /* Centers nav-links vertically */
    margin: auto 0;
    width: 100%;
}

.nav-links li {
    width:100%;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align icons */
    width: 55%;
    padding: 30px;
    color: white;
    text-decoration: none;
}

.nav-links a span {
    display: none; /* Hides text when sidebar is retracted */
}

.sidebar.expanded .nav-links a {
    justify-content: flex-start; /* Align text when expanded */
    padding: 30px;
    width: 100%;
}

.sidebar.expanded .nav-links a span {
    display: inline; /* Shows text when sidebar is expanded */
}

.nav-links a:hover {
    background-color: #edae49;
}

.nav-links i {
    font-size: 20px;
    width: 30px; /* Ensures consistent width for icon alignment */
    text-align: center;
}

.sidebar.expanded .nav-links i {
    margin-right: 10px;
}

.logout-section {
    position: absolute;
    /* Pushed logout button further down */
    top:800px;
    width: 110%;
    text-align: center;
}

.logout-button {
    display: flex;
    justify-content: center; /* Center align icon */
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar.expanded .logout-button {
    justify-content: flex-start; /* Align text when expanded */
    padding: 30px;
}

.logout-button i {
    font-size: 20px;
    width: 30px; /* Ensures consistent width for alignment */
    text-align: center;
}

.logout-button span {
    display: none; /* Hides text when sidebar is retracted */
}

.sidebar.expanded .logout-button span {
    margin-right: 10px;
    display: inline; /* Shows text when sidebar is expanded */
}

.logout-button:hover {
    background-color: #edae49;
}