* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-color: #f6faff;
  height: 100vh;
}

main {
  margin-left: 70px; 
  padding: 20px;
}

.modules-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.module {
  background-color: #f2fdff;
  border: 1px solid #e2f7ff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  flex: 1;
  min-width: 300px; 
}

.hours-module .module-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hours-module .module-header .hours-text,
.hours-module .module-header .to-go-text {
  font-size: 18px;
  margin-right: 10px;
}

.hours-module .module-header .toggle-week {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.module-body {
  display: flex;
  justify-content: center;
}

